<div class="container">
  <h3 mat-dialog-title>mat dialog title</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">


      <form [formGroup]="formGroup">

        <dynamic-material-form [group]="formGroup"
                               [layout]="formLayout"
                               [model]="formModel"
                               (blur)="onBlur($event)"
                               (change)="onChange($event)"
                               (focus)="onFocus($event)"
                               (matEvent)="onMatEvent($event)"></dynamic-material-form>

      </form>


    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!isFormGroupValid()" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
