<mat-table [dataSource]="dataSource" matSort
           [matSortActive]=parentSettings.sort.active
           [matSortDirection]=parentSettings.sort.direction>
  <!--Checkbox Column-->
  <ng-container matColumnDef={{parentSettings.checkColumn.name}}>
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selectionToggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>


  <ng-container *ngFor="let col of parentSettings.cells"  [matColumnDef]="col.name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{col.label}} </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row[col.name]}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="parentSettings.sellVisible"></mat-header-row>
  <mat-row *matRowDef="let row; columns: parentSettings.sellVisible;"
           (click)="selection.toggle(row)"></mat-row>

</mat-table>
<mat-paginator [pageSize]=parentSettings.pageStt.pageSize
               [pageSizeOptions]=parentSettings.pageStt.pageSizeOptions
               [showFirstLastButtons]=parentSettings.pageStt.showFirstLastButtons
>
</mat-paginator>
