<div class="div-type">

  <mat-form-field>
    <input matInput placeholder="Search div type" #input>
  </mat-form-field>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <!--matSortActive="ID" matSortDirection="asc"-->
  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource"
             matSort matSortDisableClear>

    <!--<ng-container matColumnDef="ID">-->
    <!--<mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>-->
    <!--<mat-cell *matCellDef="let lesson">{{lesson.ID}}</mat-cell>-->
    <!--</ng-container>-->
    <!---->
    <!--<ng-container matColumnDef="CODE">-->
    <!--<mat-header-cell *matHeaderCellDef>CODE</mat-header-cell>-->
    <!--<mat-cell class="description-cell"-->
    <!--*matCellDef="let lesson">{{lesson.CODE}}</mat-cell>-->
    <!--</ng-container>-->
    <!---->
    <!--<ng-container matColumnDef="NAME">-->
    <!--<mat-header-cell *matHeaderCellDef>NAME</mat-header-cell>-->
    <!--<mat-cell class="duration-cell"-->
    <!--*matCellDef="let lesson">{{lesson.NAME}}</mat-cell>-->
    <!--</ng-container>-->

    <!--for coll of cells-->
    <ng-container *ngFor="let col of cells"  [matColumnDef]="col.name">

      <!--<mat-header-cell #thenBlock *matHeaderCellDef mat-sort-header> {{col.label}} </mat-header-cell>-->
      <!--header-->
      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isSortingDisabled(col.name)">
        <!--simple header-->
        <div *ngIf="!col.filterData && !(col.label == 'actionsColumn')">
          {{col.label}}
        </div>
        <!--sort or filter header-->
        <div *ngIf="col.filterData">
          <!--filter button-->
          <div class="header">
            {{col.filterData.headerName}}
            <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
          <!--menu structure-->
          <mat-menu #menu>
            <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
              {{col.filterData.filterName}}
            </div>
            <div mat-menu-item mat-filter-item [disableRipple]="true">
              <mat-form-field>
                <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="col.filterData.cond">
                  <mat-option *ngFor="let  condition of col.filterData.condList" [value]="condition.value">{{condition.label}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div mat-menu-item mat-filter-item [disableRipple]="true">
              <mat-form-field>
                <input matInput placeholder="Value1" [(ngModel)]="col.filterData.value1">
              </mat-form-field>
            </div>
            <div mat-menu-item mat-filter-item [disableRipple]="true">
              <mat-form-field>
                <input matInput placeholder="Value2" [(ngModel)]="col.filterData.value2">
              </mat-form-field>
            </div>
            <div mat-menu-item mat-filter-item [disableRipple]="true">
              <button mat-raised-button (click)="clearFilterColumn([col.name])">Clear</button>
              <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
            </div>
          </mat-menu>
        </div>

        <!--editable header-->
        <div *ngIf="col.label == 'actionsColumn' ">
          <button mat-icon-button color="accent" (click)="openAddDialog()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

      </mat-header-cell>



      <div *ngIf="col.label == 'actionsColumn' ">
        <mat-cell *matCellDef="let row">
          <button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="openEditDialog(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="row.confirmEditCreate()">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button color="primary" focusable="false" (click)="row.cancelOrDelete()">
            <i class="fa fa-times mat-icon"></i>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </div>

      <div *ngIf= "!(col.label == 'actionsColumn') ">
        <mat-cell *matCellDef="let row"> {{row[col.name]}} </mat-cell>
      </div>

    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [length]="9" [pageSize]="3"
                 [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
</div>








